@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif
}

.navbar {
    background: #fff4fc;
    height: 111px;
    display:flex;
    justify-content:center;
    font-size: 1.2rem;
    position:sticky;
    top:0;
    z-index: 999;
    outline: 0px solid #000; /* Outline pada navbar */
    outline-offset: 0px; /* Jarak outline dari elemen */
}

.navbar__container {
    display:flex;
    justify-content: space-between;
    height:100px;
    z-index:1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

#navbar__logo {
    background-color: #e0218a;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items:center;
    cursor:pointer;
    text-decoration:none;
    font-size: 1rem;
    font-family:"Lilita One", sans-serif;
    font-style: normal;
    max-width:250px;
    padding: 10px 10px;
}

.navbar__menu {
    display:flex;
    align-items:center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height:100px;
    align-items: center;
    justify-content: center;
}

.navbar__links {
    color:#000;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 2.45rem 1rem;
}

.navbar__btn {
    display:flex;
    content:center;
    align-items:center;
    padding: 0 1rem;
    width:100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height:100%;
    width:100%;
    border:none;
    outline:none;
    border-radius: 4px;
    background: #e0218a;
    color: #fff;
}

.button:hover {
    background:#3a86ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color:#e0218a;
    transition:all 0.3s ease;
}

@media screen and (max-width: 600px) {
    .navbar__container {
        display: flex;
        justify-content:space-between;
        height:100px;
        z-index:1;
        width:100%;
        max-width:1300px;
        padding:0px;
    }

    .navbar__menu {
        display:grid;
        grid-template-columns: auto;
        margin:0;
        width:100%;
        position:absolute;
        top: -1000px;
        opacity:0; 
        transition:background-color 0.3s ease;
        height:auto;
        z-index:-1;
        background: #554149;
        padding:0px;
    }

    .navbar__menu.active {
        background: #fff4fc;
        top:85px;
        opacity:1;
        transition:all 0.5s ease;
        z-index: 99;
        height: 400px;
        font-size:1.6rem;
        padding: 0 0;
    }

    .navbar__toggle .bar {
        width:25px;
        height:3px;
        margin:5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width:100%;
    }

    .navbar__links {
        text-align:center;
        padding:2rem;
        width: 100%;
        display:table;
    }

    #mobile-menu {
        position:absolute;
        top:20%;
        right:5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom:2rem;
        
    }

    .button {
        display:flex;
        justify-content: center;
        width:100%;
        align-items:center;
        height:60px;
        margin:0;
    }


    .navbar__toggle {
        display: flex;        
        flex-direction: column;  
        justify-content: center;  
        align-items: center;     
        cursor: pointer;        
        height: 40px;        
    }
    
    .navbar__toggle .bar {
        display: block;
        width: 30px; 
        height: 5px;
        margin: 2px auto; 
        background-color: #000;
        cursor:pointer;
        justify-content: center;
        align-items:center;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity:0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform:translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform:translateY(-8px) rotate(-45deg);
    }
}

.main {
    background-color: #fff4fc;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0px auto;
    height: 80vh;
    background-color :#fff4fc;
    z-index:1;
    width:100%;
    max-width: 1300px;
    padding: 0px 50px;
    position: relative; 
    overflow: hidden;
}

.main__content {
    position: relative; /* Memastikan konten berada di atas elemen overlay */
    z-index: 1;
    text-align: center;
    color: #000;
}

.main__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3; /* Ubah nilai ini untuk mengatur kecerahan (0-1) */
    z-index: -1; /* Memastikan elemen background berada di belakang konten */
}

.main__bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mengatur ukuran gambar agar menutupi seluruh kontainer */
}

.main__img--container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'cwb';
    src: url('cwb.ttf') format('truetype');
} 
.main__content h1 {
    font-size: 5rem;
    background-color: #fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    font-family: 'cwb';
    padding: 0 auto;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #fff,
        -1px  1px 0 #000,
         1px  1px 0 #000;

}

.main__content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size:80%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#main__img {
    height:50%;
    width: 50%;
    display: flex;
    align-items:center;
    cursor:pointer;
    max-width:250px;
    padding: 10px 10px;
}

@media screen and (max-width:800px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width:100%;
        margin: 0 auto;
        height: auto; /* Biarkan tinggi menyesuaikan dengan konten */
        padding: 20px; /* Tambahkan padding untuk jarak yang lebih baik */
    }

    .main__content {
        text-align: center;
        margin-bottom: 1rem;;
    }

    .main__content h1 {
        margin-top: 0;
        margin-left:1rem;
        margin-right:1rem;
        margin-bottom: 0.5rem;
        font-size: 3rem;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--container img {
        max-width: 100%;
        height: 300px;
    }

    .responsive-img {
        max-width: 100%;
        height: auto;
    }
}

.swiper {
    height:100vh;
    width:100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.image {
    max-width: 100%;
    max-height: 70vh; /* Memastikan gambar tidak melebihi lebar slide */
    height: auto; /* Menjaga aspek ratio gambar */
}

.swiper-slide img {
    width: auto;
    height: 80vh;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.image-date text {
    padding: 0 50px;
}

h3 {
    color: #fff;
    background-color: #e0218a;
    border-radius: 20px; /* Membuat sudut rounded */
    justify-content: center;
    align-items: center;
    margin: 15px 250px;
}

h4 {
    font-size: 24px; /* Sesuaikan ukuran font sesuai kebutuhan */
    color: #fff; /* Warna teks */
    text-align: center; /* Pusatkan teks */
    background-color: #e0218a; /* Warna latar belakang */
    padding: 10px 20px; /* Spasi di dalam elemen */
    border-radius: 20px; /* Membuat sudut rounded */
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left:70px;
    margin-right:70px;
}

@media screen and (max-width:800px) {
    h3 {
        margin:15px 100px;
    }
    .swiper mySwiper .swiper-slide .image-date .text {
        margin: 0 100px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

/* contact */
.contact {
    background-color: #fff4fc;
    background-image: url("bgc.png");
    background-position-x: -300px;
    position:relative;
    heigth: 70vh;
    padding:50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact__content {
    max-width: 800px;
    text-align: center;
}

.contact .contact__content h5 {
    font-size: 50px;
    font-weight: 500;
}

.contact .contact__content p {
    font-size: 24px;
    font-weight: 300;
}

.container {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.container .contactinfo {
    width:50%;
    display: flex;
    flex-direction: column;
}

.container .contactinfo .box {
    position:relative;
    margin: 20px 0;
    display:flex;
}

.container .contactinfo .box .icon {
    color: #fff;
    min-width: 50px;
    height:50px;
    background: #e0218a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 15px;
}

.container .contactinfo .box .text {
    display: flex;
    font-size: 30px;
    flex-direction: column;
}

.container .contactinfo .box .text p {
    font-size: 15px;
    font-weight: 200;
}

.review__form {
    width: 40%;
    padding: 40px;
    background: #e0218a;
    height: auto;
}

.review__form h5 {
    font-size: 25px;
    color:#fff;
    font-weight: 500;
    margin-bottom: 20px;;
}

.review__form .input__box {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.review__form .input__box input,textarea {
    width:100%;
    padding: 3px 0;
    font-size: 16px;
    margin: 2px 0;
    background: #e0218a;
    border: none;
    border-bottom: 1px solid #fff;
    color:#fff
}

.review__form .input__box span {
    color: #fff;
    font-size: 13px;
    position:absolute;
    left:0;
    padding: 3px 0;
    font-size: 16px;
    margin: 2px 0;
    pointer-events: none;
    transition: 0.5s;
    color:#fff4fc;
}

.review__form .input__box input:focus ~ span ,
.review__form .input__box input:valid ~ span ,
.review__form .input__box textarea:focus ~ span ,
.review__form .input__box textarea:valid ~ span 
{
    color:#fff4fc;
    font-size: 12px;
    transform: translateY(-20px);
}

.review__form .input__box input[type="submit"] {
    width:100px;
    color: #e0218a;
    background:#fff;
    border:none;
}

.rating {
    margin-top: 20px;
}
.rating span {
    padding: 5px 0;
    color:#fff;
}
.rating .star-icon {
    color:#ffe400;
}
.rating input{
    display:none;
}
.rating input + label {
    font-size: 30px;
    padding:5px 0;
    cursor: pointer;
}
.rating input:checked + label ~ label {
    color: #838383;
}

@media screen and (max-width:800px) {
    .contact .contact__content h5 {
        font-size: 40px;
        font-weight: 500;
    }
    
    .contact .contact__content p {
        font-size: 16px;
        font-weight: 300;
    }
    
    .container {
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        flex-direction: column;
    }
    
    .container .contactinfo {
        width:50%;
        display: flex;
        flex-direction: column;
    }
    
    .container .contactinfo .box {
        position:relative;
        margin: 10px;
        display:flex;
    }
    
    .container .contactinfo .box .icon {
        color: #fff;
        min-width: 40px;
        height:40px;
        background: #e0218a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 22px;
        margin-right: 15px;
    }
    
    .container .contactinfo .box .text {
        display: flex;
        font-size: 25px;
        flex-direction: column;
        width: 100%;
    }
    
    .container .contactinfo .box .text p {
        font-size: 15px;
        font-weight: 200;
    }

    .review__form {
        width: 100%;
        padding: 40px;
        background: #e0218a;
        height: auto;
    }
}

.reservation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    height:300px;
}

.reservation__button a {
    text-decoration: none;
}

.reservation__button button {
    background-color: #e0218a; /* Warna utama */
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 25px; /* Membuat sudut tombol lebih melengkung */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Menambahkan bayangan untuk efek 3D */
}

.reservation__button button:hover {
    background-color: #c01878; /* Warna saat hover */
    transform: translateY(-2px); /* Mengangkat tombol saat dihover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Menambahkan bayangan saat dihover */
}